<h2><%=t "conemo.views.active.participants.show.first_contact_heading" %> <%= link_to '', edit_participant_first_contact_path(first_contact.participant), class: "fa fa-edit" %></h2>
<p><strong><%=t "helpers.label.first_contact.contacted_at" %>:</strong>
  <%= first_contact.contact_at.to_s(:long) %>