<table class="table table-condensed">
  <tbody>
    <tr class="un-released">
      <td>Unreleased</td>
    </tr>
    <tr class="info">
      <td>Current</td>
    </tr>
    <tr class="slippage">
      <td>Completed late</td>
    </tr>
    <tr class="warning">
      <td>Accessed but not completed</td>
    </tr>
    <tr class="danger">
      <td>Not accessed</td>
    </tr>
    <tr class="success">
      <td>Completed on time</td>
    </tr>
  </tbody>
</table>
