<div class="modal fade" id="modal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= fa_icon("info-circle")%></h4>
      </div>
      <div class="modal-body text-white">
        <% lesson.content_access_events.where(participant_id: participant.id).each do |event| %>
          <p>
            <strong><%= l event.created_at, format: :long %>: </strong>
            <% present event.response do |response_presenter| %>
              <%= response_presenter.formatted_answers %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
