  <h2><%= fa_icon "mobile lg"%> <%= t "conemo.views.active.participants.show.smartphone_heading" %>: <%= smartphone.number %> <%= link_to '', edit_participant_smartphone_path(smartphone.participant), class: "fa fa-edit fa-lg pull-right" %></h2>
