<div class="btn-group">
  <% if current_user.nurse? %>
    <%= link_to NurseTask.model_name.human(count: 2), participant_tasks_path(@participant), class: "btn btn-link" %>
  <% else %>
    <%= link_to NurseTask.model_name.human(count: 2), nurse_tasks_summary_path(@participant.nurse), class: "btn btn-link" %>
  <% end %>
  <%= link_to "Clinical Summary", active_report_path(@participant), class: "btn btn-link" %>
</div>

<ul class="timeline">
  <% @participant_contacts.map(&:contact).each do |contact| %>
    <%= render partial: contact.class.to_s.underscore, object: contact %>
  <% end %>
</ul>
