<h2><%= t "active.participants.show.header" %></h2>

<% if @participant_contacts.present? %>
  <ul class="timeline">
    <% @participant_contacts.map(&:contact).each do |contact| %>
      <%= render partial: contact.class.to_s.underscore, object: contact %>
    <% end %>
  </ul>
<% end %>
