<ol class="breadcrumb">
  <% unless (is_root ||= false) %>
      <li><%= link_to "Dialogues", dialogues_path %></li>
  <% end %>
  <% (breadcrumbs ||= []).each do |b| %>
      <li><%= link_to b[0], b[1] %></li>
  <% end %>
  <% active = is_root ? "Dialogues" : active %>
  <li class="active"><%= active %></li>
</ol>