<div class="new-lesson-link">
  <%= link_to "Add Dialogue", new_dialogue_path, class: "btn btn-info" %>
</div>
<br>
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Day in treatment</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <%= render @dialogues %>
</table>