<h2>Your Patients</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-bordered table-condensed table-hover">
      <tbody>
        <% @nurse_dashboard.participant_summaries.each do |participant_summary| %>
          <tr class="<%= participant_summary.css_class %>">
            <td>
              <%= link_to participant_summary.study_identifier, participant_tasks_path(participant_summary.id) %>
            </td>
            <td>
              <%= link_to participant_summary.active_tasks_list, participant_tasks_path(participant_summary.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
