<h2>Your Patients</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-bordered table-condensed table-hover">
      <tbody>
        <% @participants.each do |participant| %>
          <% row = NurseParticipantRowPresenter.new(participant, @tasks[participant.id]) %>
          <tr class="<%= row.css_class %>">
            <td>
              <%= link_to participant.study_identifier, participant_tasks_path(participant) %>
            </td>
            <td>
              <%= @tasks[participant.id].try(:join, ", ") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
