<div class="dashboard">
  <div>
    <%= link_to t('conemo.views.dashboards.index.enrollment_button'), pending_participants_path, class: "btn btn-info btn-lg navigation" %>
  </div>
  <div>
    <%= link_to t('conemo.views.dashboards.index.manage_button'), active_participants_path, class: "btn btn-primary btn-lg navigation" %>
  </div>
  <div>
    <%= link_to t('conemo.views.dashboards.index.lessons_button'), lessons_path, class: "btn btn-success btn-lg navigation" %>
  </div>
</div>