<div class="row">
  <div class="col-md-12">
    <div class="jumbotron text-center">
      <h1><%=t "conemo.views.dashboards.index.heading" %></h1>
      <p><%=t "conemo.views.dashboards.index.instructions" %></p>
      <%= render 'shared/button_nav' %>
    </div>
  </div>
</div>

