/* accommodate fixed top navbar */
body {
  padding-top: 70px;
}

/* progress bar on participant tasks page */
.progress.tall {
  height: 84px;
}

.progress-bar-future {
  background-color: transparent;
}

.progress-legend {
  position: relative;
  bottom: -20px;
}

.progress-legend td {
  width: 20%;
  text-align: center;
}

/* lessons table on detailed participant page */
.table > tbody > tr.slippage > td {
  background-color: #A4A441;
}

/* Rails button_to inside of a Bootstrap btn-group */
.btn-group > .button_to {
  display: inline;
}

/* tasks table */
.table > tbody > tr > td {
  border-color: inherit;
}

tr.clickable-row {
  cursor: pointer;
}

/* panel tables */
.panel-default table > tbody > tr > td {
  vertical-align: inherit;
}

.dropdown-menu > li > a {
  color: #df691a;
}
