/* accommodate fixed top navbar */
body {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .navbar-header > .navbar-brand {
    margin-top: -5px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }

  .navbar-header .navbar-nav {
    float: none;
  }

  .navbar-header > .navbar-brand {
    margin-top: -10px;
  }
}

/* progress bar on participant tasks page */
.progress.tall {
  height: 105px;
  margin-top: 10px;
}

.progress-bar-future {
  background-color: transparent;
}

.progress-legend {
  position: relative;
  bottom: -20px;
}

.progress-legend td {
  width: 20%;
  text-align: center;
}

/* lessons table on detailed participant page */
.table > tbody > tr.slippage > td {
  background-color: #A4A441;
}

/* Rails button_to inside of a Bootstrap panel */
.panel .button_to {
  display: inline-block;
}

/* tasks table */
.table > tbody > tr > td {
  border-color: inherit;
}

tr.clickable-row {
  cursor: pointer;
}

/* panel tables */
.panel-default table > tbody > tr > td {
  vertical-align: inherit;
}

.dropdown-menu > li > a {
  color: #df691a;
}

/* select2 select input styles (make them taller) */
.form-group .select2-container .select2-choice {
  height: 32px;
}

.select2-drop .select2-results .select2-result-label {
  line-height: 28px;
}

.form-horizontal .form-group .radio-inline {
  height: 32px;
}

.form-horizontal .form-group .checkbox {
  height: 36px;
}
