// accommodate fixed navbar
body {
  padding-top: 70px;
}

.jumbotron {
  background-color: transparent;
}

div.dashboard {
  width: 100%
}
div.dashboard div{
  margin-bottom: 7px;
}

a.navigation {
  width: 100%;
}

a.table-link {
  padding: 4px;
  text-decoration: none;
  color: skyblue;
}
a.reschedule-link {
  padding: 4px;
  text-decoration: none;
  color: salmon;
}

// style date selects to match Bootstrap
select.form-control.date-select {
  width: 33%;
  float: left;
}

// report styles

i.status {
  position: relative;
  top: 3px;
  margin-right: 10px;
  color: green;
}
.green {
  color: green !important;
}
.yellow {
  color: yellow !important;
}
.red {
  color: red !important;
}
.disabled {
  color: lightgray !important;
}

.none {
  display: none;
}
div.access-count {
  border: 3px solid #4e5d6c;
  height: 125px;
  text-align: center;
  margin-bottom: 15px;
  background: #4e5d6c;
}
div.access-count h5 {
  color: white;
}
div.access-count span {
  font-size: 62px;
  color: white;
  position: relative;
  top: -20px;
}

div.report tr.table-head {
  background-color:#4e5d6c;
  color: white;
}

dt a.delete-note {
  color: darkorange;
}

// profile page styles
div.profile p {
  font-size: 12px;
  line-height: 1em;
  margin-left: 5px;
  color: whitesmoke;
}
div.profile h2 {
  font-size: 20px;
}
div.profile div.notes {
  border: 3px solid darkgrey;
  padding: 10px;
  border-radius: 5px;
}

a.navbar-brand {
  color: white !important;
  background-color: salmon;
}
a.admin {
  background-color: darkorange;
  margin-right: 15px;
  border-right: 1px solid gray;
}
a.navbar-brand:hover {
  color: #999 !important;

}
.navbar-default .navbar-nav > li > a.info {
  color: white;
  background-color: #5bc0de;
}
.navbar-default .navbar-nav > li > a.info:hover {
  color: #999;
  background-color: white;
}
.navbar-default .navbar-nav > li > a.primary {
  color: white;
  background-color: #428bca;
}
.navbar-default .navbar-nav > li > a.primary:hover {
  color: #999;
  background-color: white;
}
.navbar-default .navbar-nav > li > a.success {
  color: white;
  background-color: #5cb85c;
}
.navbar-default .navbar-nav > li > a.success:hover {
  color: #999;
  background-color: white;
}