// accommodate fixed navbar
body {
  min-height: 2000px;
  padding-top: 70px;
}

div.dashboard {
  width: 100%
}

// center homepage button group and fix width
div.dashboard.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  margin-left: 3%;
}
a.navigation {
  width: 31%;
}

// style date selects to match Bootstrap
select.form-control.date-select {
  width: 33%;
  float: left;
}
