// accommodate fixed navbar
body {
  padding-top: 70px;
}

h1 {
  font-size: 2.1em;
}

select.dropdown {

}

small.text-muted {
  color: #999999;
}
// Forces input font color to remain black on zoom
body select {
  color: black !important
}

select option {
  width: 10px !important;
}

.jumbotron {
  background-color: transparent;
}

div.dashboard {
  width: 100%
}

div.dashboard div {
  margin-bottom: 7px;
}

a.navigation {
  width: 100%;
}

a.table-link {
  padding: 4px;
  text-decoration: none;
  color: skyblue;
}

a.reschedule-link {
  padding: 4px;
  text-decoration: none;
  color: tomato;
}

// style date selects to match Bootstrap
select.form-control.date-select {
  width: 33%;
  float: left;
}

// report styles

i.status {
  position: relative;
  top: 3px;
  margin-right: 10px;
  color: green;
}

.green {
  color: green !important;
}

.yellow {
  color: yellow !important;
}

.red {
  color: red !important;
}

.disabled {
  color: lightgray !important;
}

.none {
  display: none;
}
button.fill-column {
  width: 100%;
}

i.success {
  color: green;
}

i.info {
  color: #5bc0de;
}

i.danger, a.danger {
  color: red;
}

i.warning {
  color: yellow;
}

tr.warning td{
  background: yellow !important;
  color: #666;
}

div.text-white {
  color: white;
}

div.access-count {
  border: 3px solid #4e5d6c;
  height: 125px;
  text-align: center;
  margin-bottom: 15px;
  background: #4e5d6c;
}

div.access-count h5 {
  color: white;
}

div.access-count span {
  font-size: 62px;
  color: white;
  position: relative;
  top: -20px;
}

div#main-report {
  margin-top: -3.7%;
}

div.report thead {
  background-color: #4e5d6c;
  color: white;
}

dt a.delete-note {
  color: darkorange;
}

// profile page styles
div#contact-info {
  border: 1px solid #999;
  border-radius: 2px 2px 0px 0px;
  margin-left: 15px;
}

div.title{
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}

div#smartphone-info {
  border: 1px solid #999;
  border-top: none;
  border-radius: 0px 0px 2px 2px;
  margin-left: 15px;
}

div.profile p {
  font-size: 16px;
  line-height: 1em;
  margin-left: 5px;
  color: whitesmoke;
}

div.profile h2 {
  font-size: 20px;
}

div.profile div.notes {
  border: 3px solid darkgrey;
  padding: 10px;
  border-radius: 5px;
}

a.navbar-brand {
  color: white !important;
  background-color: tomato;
}

a.admin {
  background-color: darkorange;
  margin-right: 14px;
  border-right: 1px solid gray;
}

a.navbar-brand:hover {
  color: #999 !important;

}

// Active Participant Index
table.active-index td {
  text-align: center;
  min-width: 80px;
}

table.active-index th {
  text-align: center;
}

div.legend {
  text-align: right;
  padding: 15px;
  float: right;
  margin-bottom: 10px;
  font-size: 90%
}

div.legend small {
  padding-right: 5px;
}

div.lesson-legend {
  text-align: right;
  font-size: 90%
}

div.lesson-legend i {
  padding-left: 5px;
}

h1.table-title {
  position: relative;
  bottom: -35px;
}

.navbar-default .navbar-nav > li > a.info {
  color: white;
  background-color: #5bc0de;
}

.navbar-default .navbar-nav > li > a.info:hover {
  color: #999;
  background-color: white;
}

.navbar-default .navbar-nav > li > a.primary {
  color: white;
  background-color: #428bca;
}

.navbar-default .navbar-nav > li > a.primary:hover {
  color: #999;
  background-color: white;
}

.navbar-default .navbar-nav > li > a.success {
  color: white;
  background-color: #5cb85c;
}

.navbar-default .navbar-nav > li > a.success:hover {
  color: #999;
  background-color: white;
}

// User Profile Page

div.status-info > * {
  margin: 0 18px;
}

@-webkit-keyframes slide {
  from {
    left: 0%;
  }

  to {
    left: 50%;
  }
}

.row.status {
  margin-bottom: 90px;
}
.status-wrap {
  color: #444;
  margin: 66px auto;
  max-width: 1200px;
  position: relative;
  margin-top: 20px;
}

ul.status-bar {
  margin: 0 20px;
}

div.status-text {
}

div.status-text p {
  display: inline-block;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
  width: 19%;
}

ul.status-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.status-bar li:before {
  background: #df691a;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  left: 20px;
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: 99999 !important;
}
ul.status-bar li.active {
  color: #8bc53f;
}
ul.status-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.status-bar li.visited {
  color: #57aed1;
  z-index: 99;
}

ul.status-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}

ul.status-bar li:before {
  content: " ";
}

.popover-content {
  color:white;
}
div.popover {
  top: 30px !important;
  max-width: 200px;
}
div.popover.bottom {
  margin-left: 26px;
}
@media all and (min-width: 800px) {
  .status-bar li.active:after {
    -webkit-animation: slide 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  ul.status-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #4e5d6c;
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 98%;
  }
  ul.status-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 12%;
  }

  ul.status-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.status-bar li:before {
    height: 30px;
    left: 55%;
    line-height: 30px;
    position: absolute;
    top: -55px;
    width: 30px;
    z-index: 9999;
  }
  ul.status-bar li.visited {
    background: none;
  }
  ul.status-bar li.visited:before {
    margin-top: 0px;
  }
  ul.status-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 62%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
    border-radius: 15px;

  }
  ul.status-bar li.visited:nth-last-child(2):after {
    background-size: 35px 35px;
    background-color: #57aed1;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 58%;
    position: absolute;
    top: -50px;
    width: 72%;
    z-index: 99;
  }
}
